@*@page*@
@inject MyJobSite.Services.Data.ICitiesService citiesService
@inject MyJobSite.Services.Data.ICategoriesService categoriesService
@model IEnumerable<MyJobSite.Web.ViewModels.ViewModels.JobPosting.BrowseJobPostingViewModel>
@{
    ViewData["Title"] = "GetCompanyJobPostings";
}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="description" content="JobBoard - HTML Template" />
    <meta property="og:title" content="JobBoard - HTML Template" />
    <meta property="og:description" content="JobBoard - HTML Template" />
    <meta property="og:image" content="JobBoard - HTML Template" />
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />

    <!-- PAGE TITLE HERE -->
    <title>JobBoard - HTML Template</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="css/plugins.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/templete.css">
    <link class="skin" rel="stylesheet" type="text/css" href="css/skin/skin-1.css">
    <link rel="stylesheet" href="plugins/datepicker/css/bootstrap-datetimepicker.min.css" />
    <!-- Revolution Slider Css -->
    <link rel="stylesheet" type="text/css" href="plugins/revolution/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="plugins/revolution/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="plugins/revolution/revolution/css/navigation.css">
    <!-- Revolution Navigation Style -->
</head>
<body id="bg">
    <div class="page-wraper">
        <div id="loading-area"></div>
        <!-- Content -->
        <div class="page-content bg-white">
            <!-- inner page banner -->
            <div class="dez-bnr-inr overlay-black-middle bg-pt" style="background-image:url(/images/banner/bnr2.jpg);">
                <div class="container">
                    <div class="dez-bnr-inr-entry">
                        <h1 class="text-white">All Job Postings</h1>
                        <!-- Breadcrumb row -->
                        <!-- Breadcrumb row END -->
                    </div>
                </div>
            </div>
            <!-- inner page banner END -->
            <!-- contact area -->
            <div class="section-full content-inner shop-account">
                <!-- Product -->
                <div class="content-block">
                    <!-- Browse Jobs -->
                    <div class="section-full bg-white browse-job content-inner-2">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-9 col-lg-8">
                                    <h5 class="widget-title font-weight-700 text-uppercase">Job Postings</h5>
                                    <ul class="post-job-bx">
                                        @foreach (var jobPosting in Model.OrderByDescending(j => j.CreatedOn))
                                        {
                                            <li>
                                                <a asp-controller="JobPostings" asp-action="GetJobPosting" asp-route-id="@jobPosting.Id">
                                                    <div class="d-flex m-b30">
                                                        <div class="job-post-company">
                                                            <span><img src="@jobPosting.CompanyInfoLogo" /></span>
                                                        </div>
                                                        <div class="job-post-info">
                                                            <h4>@jobPosting.Title</h4>
                                                            <ul>
                                                                <li><i class="fa fa-bookmark-o"></i>@jobPosting.CompanyName</li>
                                                                <li><i class="fa fa-map-marker"></i> @jobPosting.Address</li>
                                                                <li><i class="fa fa-bookmark-o"></i>@jobPosting.Type</li>

                                                                <li><i class="fa fa-clock-o"></i>Published on @jobPosting.CreatedOn.ToString("dd/MM/yyyy hh:mm")</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <div class="job-time mr-auto">
                                                            <span>@jobPosting.CityName</span>
                                                        </div>
                                                        <div class="salary-bx">

                                                            @if (jobPosting.MinSalary != 0 && jobPosting.MaxSalary != 0)
                                                            {
                                                                <span>
                                                                    $@jobPosting.MinSalary - $@jobPosting.MaxSalary
                                                                </span>
                                                            }
                                                            else if (jobPosting.MinSalary == 0 && jobPosting.MaxSalary == 0)
                                                            {
                                                                <span></span>
                                                            }
                                                            else if (jobPosting.MinSalary == 0)
                                                            {
                                                                <span>Maximum Salary: $@jobPosting.MaxSalary</span>
                                                            }
                                                            else
                                                            {
                                                                <span>Minimum Salary: $@jobPosting.MinSalary</span>
                                                            }
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                    <div class="pagination-bx m-t30">
                                        <ul class="pagination">
                                            <li class="previous"><a href="#"><i class="ti-arrow-left"></i> Prev</a></li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li class="next"><a href="#">Next <i class="ti-arrow-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                @*<div class="col-xl-3 col-lg-4">
                                    <div class="sticky-top">
                                        <div class="clearfix m-b10">
                                            <div class="form-group">
                                                <label for="exampleFormControlSelect1">City</label>
                                                <select class="form-control" id="category">
                                                    @foreach (var city in @citiesService.GetCities())
                                                    {
                                                        <option value="@city">@city</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix m-b30">
                                            <h5 class="widget-title font-weight-700 text-uppercase">Job type</h5>
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                    <div class="product-brand">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="check2" name="example1">
                                                            <label class="custom-control-label" for="check2">Full Time</label>
                                                        </div>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="check4" name="example1">
                                                            <label class="custom-control-label" for="check4">Part Time</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix">
                                            <h5 class="widget-title font-weight-700 text-uppercase">Category</h5>
                                            <select>
                                                @foreach (var category in categoriesService.GetCategoriesNames())
                                                {
                                                    <option>@category</option>
                                                }
                                            </select>
                                        </div>
                                        <hr>
                                        <a href="#" class="btn btn-primary btn-primary"><span class="none"></span> Filter</a>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                    <!-- Product END -->
                </div>
                <!-- contact area  END -->
            </div>
            <!-- Content END-->
            <button class="scroltop fa fa-chevron-up"></button>
        </div>
    </div>
    <!-- JAVASCRIPT FILES ========================================= -->
    <script src="/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
    <script src="/plugins/wow/wow.js"></script><!-- WOW JS -->
    <script src="/plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
    <script src="/plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
    <script src="/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
    <script src="/plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
    <script src="/plugins/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
    <script src="/plugins/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
    <script src="/plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
    <script src="/plugins/masonry/masonry-3.1.4.js"></script><!-- MASONRY -->
    <script src="/plugins/masonry/masonry.filter.js"></script><!-- MASONRY -->
    <script src="/plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
    <script src="/plugins/rangeslider/rangeslider.js"></script><!-- Rangeslider -->
    <script src="/js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
    <script src="/js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS  -->
    <script src="/js/dz.ajax.js"></script><!-- CONTACT JS  -->


</body>


</html>

